.formContainer {
  display: flex;
  padding-bottom: 1.5rem;
}

.searchInput {
  border-radius: 20px 0 0 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.searchSubmit {
  background-color: rgb(5, 31, 45);
  color: rgb(185, 228, 246);
  padding: 0 15px;
  border-radius: 0 20px 20px 0;
}
