.detailsContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(212, 211, 211);
  padding: 1rem;
  background-color: rgb(206, 229, 249);
  border-radius: 7px;
  color: rgb(5, 31, 45);
  gap: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 1rem;
  color: rgb(5, 31, 45);
}

.styleDetails {
  display: flex;
  flex-direction: column;
}

.metric {
  color: rgb(0, 45, 226);
}

.infoHeader {
  color: rgb(5, 31, 45);
  font-weight: 450;
}

.imageContainer {
  /* height: 25rem;
  width: 21.875rem; */
}

.movieInfo {
  /* height: 15.625rem;
  width: 21.875rem; */
}
