.detailsContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 0.5rem;
  background-color: rgb(206, 229, 249);
}

.title {
  font-size: 32px;
}

.styleDetails {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  height: 25rem;
  width: 21.875rem;
}

.movieInfo {
  height: 15.625rem;
  width: 21.875rem;
}
