.appContainerWhite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
}

.appContainerGrey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: grey;
  padding-top: 1rem;
}

.appTitle {
  font-size: 32px;
  font-weight: 600;
  color: rgb(5, 31, 45);
}

.noSearchResults {
  font-size: 16px;
  color: rgb(5, 31, 45);
}
