.detailsContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(212, 211, 211);
  padding: 1.5rem 1.6rem;
  margin: 2rem;
  background-color: rgb(206, 229, 249);
  border-radius: 7px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 1rem;
  max-width: 450px;
}

.styleDetails {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  height: 25rem;
  width: 21.875rem;
  margin-bottom: 0.5;
}

.movieInfo {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.appContainerWhite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
}

.appContainerGrey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  min-height: 100%;
  min-width: 100%;
}

.metric {
  color: rgb(45, 45, 239);
}

.infoHeader {
  color: rgb(5, 31, 45);
  font-weight: 600;
}

.overview {
  width: 100%;
}
